<form action="/electricty" method="post">
    <fieldset>
        <legend>Electricity Tracker</legend>
        {{!--image sourced from ecowebhosting.co.uk--}}
        <img src="../images/logo.png">
        <h5 style="color:red">{{errorText}}</h5>
        <div>
            <form>
                Enter monthly electricity bill:<br>
                <br>
                <input type='text' id='bills' /><br>
            </form>
            <br>
            <input type='button' value='Add' id='add' />
            <ul style="list-style: none;" id='list_item'>

            </ul>
        </div>
    </fieldset>
</form>