<img src="images/logo.png">
<h4>{{successText}}</h4>
<br>
<h4 hidden>USER ID: {{userID}}</h4>
<br>
<h2><a href="/food">Tell us what you ate.</a></h2>
<h2><a href="/shower/">Take a shower!</a></h2>
<h2><a href="/electricity">Track electricity usage.</a></h2>