<body>
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-xs-12 col-sm-2">
                <img src="images/logo.png">
                <h4>SUCCESS TEXT</h4>
                <br>
                <h5>{{successText}}</h5>
                <br>
                <h4>USER ID</h4>
                <br>
                <h5>{{userID}}</h5>
                <br>
                <h4>ERROR TEXT</h4>
                <br>
                <h5>{{errorText}}</h5>
                <h2><a href="/shower/">Take a shower!</a></h2>
                <h2><a href="/electricity">Track electricty usage.</a></h2>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="row"></div>
    </div>
</body>
