<form action="/food" method="post">
    <fieldset>
        <legend>Food Tracker</legend>
        {{!--image sourced from ecowebhosting.co.uk--}}
        <img src="../images/logo.png">
        <h5 style="color:red">{{errorText}}</h5>
        <div>
            <form>
                Meal Type:
                <br>
                <br>
                <select name='foodType' id='foodType'>
                    <option value='meat'>Meat-heavy meal</option>
                    <option value='half'>half meat, half plant-based</option>
                    <option value='veggie'>Plant-based meal</option>
                    <option value='fat'>Junk food</option>
                </select>
                <br>
                <br>
                <label id="foodDescLabel">Further Description of Meal:
                    <input type="text" name="foodDesc" id="foodDesc" placeholder="Food Description">
                </label>
                <br>
            </form>
            <br>
            <input type='submit' value='Add Meal'>
        </div>
    </fieldset>
</form>