<fieldset>
  <legend>Leaderboards</legend>
  <img src="../images/logo.png">
  <h5 style="color:red">{{errorText}}</h5>
<div class="tab">
  <button class="tablinks" onclick="openBoard(event, 'Global')">Global</button>
  <button class="tablinks" onclick="openBoard(event, 'Friends')">Friends</button>
</div>

<div id="Global" class="tabcontent">
  <ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ol>
</div>

<div id="Friends" class="tabcontent">
  <ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ol>
</div>
</fieldset>
<script type="text/javascript" src="../scripts/leaderboards.js"></script>
