<form action="/createAccount" method="post">
    <div class="container">
    	<div class="row-align-items-start"></div>
    	<div class="row-align-items-center">
    	    <div class="col-lg-8 col-md-6">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password"/>
                </div>
                <div>
                    <input type="submit" value="Create Account"/>
                </div>
            </div>
    	</div>
    	<div class="row-align-items-end"></div>
    </div>
</form>