<form action="/water" method="post">
    <fieldset>
        <legend>Water Tracker</legend>
        {{!--image sourced from ecowebhosting.co.uk--}}
        <img src="../images/logo.png">
        <h5 style="color:red">{{errorText}}</h5>
        <div>
            <label>Minutes of faucet use:</label>
            <input type='number' id='faucet' name='faucet' />
            <br>
        </div>
        <div>
            <label>Number of toilet flushes:</label>
            <input type='number' id='flushes' name='flushes' />
            <br>
        </div>
        <div>
            <label>Shower time in minutes:</label>
            <input type='number' id='shower' name='shower' />
            <br>
        </div>
        <div>
            <br>
            <input type='Submit' value='Add' id='add' />
            <ul style="list-style: none;" id='list_item'>
            </ul>
            <h5>{{successText}}</h5>
        </div>
    </fieldset>
</form>
